@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
:root {
  --font-family: 'Montserrat', sans-serif;
  --color-bg: #040C18;
  --button-bg: #FFDE59;
  --color-footer : #031B34;
}
